<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Data binding</title>
	<script src="angular.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<h2>Enter your name.</h2>
		First Name: <input type="text" ng-model="firstName"><br> <br>
		Last Name: <input type="text" ng-model="lastName"><br> <br>

		Hello, {{firstName+ " " +lastName+"."}}	
	</div>
	<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			$scope.firstName = "Rajeev";
			$scope.lastName = "Ranjan";
		});
	</script>
</body>
</html>